services:
  app:
    build: .
    container_name: featureflags-app
    ports:
      - "5000:5000"
    environment:
      HARNESS_SDK_KEY: "${HARNESS_SDK_KEY}"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis-server
